{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-transform-classes",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-transform-template-literals",
    "@babel/plugin-transform-new-target",
    "@babel/plugin-proposal-function-bind",
    "@babel/plugin-syntax-class-properties"
  ]
}
